<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.wulinzeng.mapper.CustomerMapper">

    <select id="findAll"  resultType="vip.wulinzeng.pojo.Customer">
         select * from customer
     </select>

    <!-- 动态查询 name or jobs -->
    <!-- <trim>元素 -->
    <select id="findCustomerByNameAndJobsOne" parameterType="vip.wulinzeng.pojo.Customer"
            resultType="vip.wulinzeng.pojo.Customer">
        select * from customer
        <trim prefix="where" prefixOverrides="and">
            <if test="username !=null and username !=''">
                and username like concat('%',#{username}, '%')
            </if>
            <if test="jobs !=null and jobs !=''">
                and jobs= #{jobs}
            </if>
        </trim>
    </select>

    <!--<choose>(<when>、<otherwise>)元素使用 -->
    <select id="findCustomerByNameAndJobsTwo" parameterType="vip.wulinzeng.pojo.Customer"
            resultType="vip.wulinzeng.pojo.Customer">
        select * from customer where 1=1
        <choose>
            <when test="username !=null and username !=''">
                and username like concat('%',#{username}, '%')
            </when>
            <when test="jobs !=null and jobs !=''">
                and jobs= #{jobs}
            </when>
            <otherwise>
                and phone is not null
            </otherwise>
        </choose>
    </select>


    <!--<bind>元素的使用：根据客户名模糊查询客户信息 -->
    <select id="findCustomerByNameThree" parameterType="vip.wulinzeng.pojo.Customer"
            resultType="vip.wulinzeng.pojo.Customer">
        <!--_parameter.getUsername()也可直接写成传入的字段属性名，即username -->
        <bind name="pattern_username" value="'%'+_parameter.getUsername()+'%'" />
        select * from customer
        where
        username like #{pattern_username}
    </select>

    <!--插入操作-->
    <insert id="save" parameterType="vip.wulinzeng.pojo.Customer">
        insert into customer values(#{id},#{username},#{jobs},#{phone})
    </insert>

    <delete id="delete" parameterType="int">
        delete from customer where id=#{id}
    </delete>

    <update id="update" parameterType="vip.wulinzeng.pojo.Customer">
        update customer set username=#{username},jobs=#{jobs},phone=#{phone} where id=#{id}
    </update>

</mapper>